body {

	margin:0;
}
/* background section */

.backgr{
    background:url(./images/back.jpg)no-repeat center 0px; 
    background: linear-gradient(163deg, rgb(42 57 84 / 80%), #417c8e),url(./images/back.jpg);
	width: 100%;

	background-repeat: no-repeat; 
	background-position: center;
	 
	background-size:cover;
    height: 98vh;
}

/* header section */


nav .navbar-nav li a{
	color: white !important;
}

nav .navbar-nav li a:hover,nav .navbar-nav li a:active{
	color: rgb(224 219 71 / 80%) ;
	font-size: large;
}

i{
	color:#325b74;
}

.btn .btn-primary:hover {
	
	background-color: #325b74 !important;
    
}

button a{
	text-decoration: none;
	color: white;
}

h5{
	display: flex;
	align-items: center;
	justify-content: center;
}

.primage{
	max-width: 335px;
	max-height: 419px;
}
.projectbody{
	background-color: #bbb2b257;

}

.priceborder{
	border-top: 0px !important;
	border-bottom:0px  !important;
}

.centerProperty{
	display: flex;
	justify-content: center;
}

/* team */
.team-border .card{
	border: 0px;
}
.teamImage{
	border-radius: 50%;
	height:150px;
	width: 150px;
	
}


/* slides */

#slideshow-wrapper {
	width: 740px;
	height: 320px;
	margin:30px auto;
  }
  
  #slideshow {
	margin-bottom: 5px;
	width: 740px;
	height: 300px;
	overflow: hidden;
	white-space: nowrap;
  }
  
  #slideshow img {
	display: inline-block;
	width: 100%;
	height: 100%;
  }
  
  .circle {
	margin-right: 15px;
	display: inline-block;
	background-color: lightgrey;
	width: 12px;
	height: 12px;
	border-radius: 50px;
  }
  


